л# Byte-compiled / compiled files
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Scheduler or logs
*.log

# Ignore local PDF materials
Выход из панического круга.pdf

